@page
@model CleanZone.Pages.Arvoreview.IndexModel
@{
    ViewData["Title"] = "Tree page";
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <ul id="myUL">
            <span class="caret">Data atual: @ViewBag.DataAtual</span>
            @foreach (var resi in Model.Residence.Where(r => r.UserID == r.User.Id))
            {
                <li>
                    <span class="caret">@resi.Name</span>
                    <ul class="nested">
                        @foreach (var item in Model.Area.Where(a => a.ResidenceID == resi.Id))
                        {
                            <li>
                                <span class="caret">@item.Name</span>
                                <ul class="nested">
                                    @foreach (var item2 in Model.Division.Where(d => d.AreaId == item.Id))
                                    {
                                        <li>
                                            <span class="caret">@item2.Name</span>

                                            <div class="status-list">
                                                @foreach (var barColor in item2.ShowCleaningStatus2(Model.Date))
                                                {
                                                    <span class="bar" style="background-color: @barColor;"></span>

                                                }

                                            </div>
                                            <button type="submit" name="divisionId" value="@item2.ID">Limpar</button>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </form>
}
@{
    Model._context.SaveChanges();
}
<form method="post">
    <button type="submit" name="desDate">Atras um Dia</button>
    <button type="submit" name="advanceDate">Avançar um Dia</button>

</form>
<form method="post">
    <div class="form-group">
        <label asp-for="Date" class="control-label">Indique uma data (DD-MM-YYYY):</label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>

    </div>
    <button type="submit" name="simulador">Simular uma Data!</button>
</form>
<style>
    /* Estilo para as barras coloridas */
    .bar {
        width: 20px; /* Largura da barra */
        height: 10px; /* Altura da barra */
        display: inline-block;
        margin-right: 5px; /* Espaçamento entre as barras */
    }
</style>