@page
@model CleanZone.Pages.Public.IndexModel
@{
}

<h1>Usage Statistics</h1>

<p>Number of Users: @Model.Model.NumberOfUsers</p>
<p>Average Buildings: @Model.Model.AverageBuildings</p>
<p>Total Number of Divisions Created: @Model.Model.NumberOfDivisions</p>
<p>Total Number of Rooms Cleaned: @Model.Model.NumberOfCleanDivisions</p>
<p>Total Number of Dirty Rooms: @Model.Model.NumberOfNoCleanDivisions</p>
<!-- Outras estatísticas relevantes -->

<a href="/">Return to home page</a>
